<div>
  <mat-sidenav-container fullscreen>
    <!-- MENU LATERAL -->
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }" >
      <mat-toolbar color="primary">
        <span>Menú</span>
        <span class="spacer"></span>

          <button mat-icon-button (click)="sidenav.toggle()">
            <span class="material-icons">
              menu
              </span>
          </button>

      </mat-toolbar>

      <mat-nav-list>
        <mat-list-item [routerLink]="['/movies/home']" style="margin-top: 30px;" (click)="sidenav.toggle()">
          <span class="material-icons" style="font-size: 32px; margin-right: 7px;">home</span>
          Home
        </mat-list-item>
        <mat-list-item [routerLink]="['/movies/search']" style="margin-top: 30px;" (click)="sidenav.toggle()">
          <span class="material-icons" style="font-size: 32px; margin-right: 7px;">search</span>
          Buscar
        </mat-list-item>
        <mat-list-item *ngIf="mostrarBotonGestion()" [routerLink]="['/users']" style="margin-top: 30px;" (click)="sidenav.toggle()">
          <span class="material-icons" style="font-size: 32px; margin-right: 7px;">account_circle</span>
          Gestión de usuarios
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- TOP BAR -->
    <mat-toolbar color="primary" class="toolbar fixed-top">
      <button mat-icon-button (click)="sidenav.toggle()">
        <span class="material-icons">menu</span>
      </button>

      <span class="spacer"></span>

      <a [routerLink]="['/movies/home']" class="favicon">
        <span class="icon-container">
          <span class="material-icons" style="font-size: 32px; margin: 7px;">theaters</span>
          <span>GESTION DE PELICULAS</span>
          <span class="material-icons" style="font-size: 32px; margin: 7px;">theaters</span>
        </span>
      </a>

      <span class="spacer"></span>

      <ng-container *ngIf="hayToken()">
        <button mat-stroked-button class="btn btn-primary" (click)="getUserPorToken()">
          <mat-icon>account_circle</mat-icon>
          {{ nombre_publico }}
        </button>
        <button mat-button class="btn btn-danger" (click)="logOut()" style="margin-left: 10px;">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </ng-container>

    </mat-toolbar>

    <!-- MAIN BODY -->
    <div class="container p-2" style="margin-top: 64px;">
      <router-outlet/>
    </div>
  </mat-sidenav-container>
</div>
