<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title"><i class="fas fa-frown"></i> ¡Error 404!</h2>
          <p class="card-text">¡Ups! Parece que esta página se escapó para tomar un café.</p>
          <p class="card-text">Mientras tanto, puedes volver a la <a [routerLink]="['/movies/home']" routerLinkActive="router-link-active">página principal</a>.</p>
          <div class="gif-container">
            <iframe src="https://giphy.com/embed/H54feNXf6i4eAQubud" width="100%" height="100%" style="position:relative" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
